<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>key</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/preferenceschanged</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>key</key>
			<string>useVolumeLimit</string>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/preferenceschanged</string>
			<key>label</key>
			<string>Use Volume Limit</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
            <key>cell</key> 		
            <string>PSSegmentCell</string>
            <key>defaults</key> 	
            <string>ws.hbang.plugication</string>
            <key>default</key>
            <string>0.5</string>
            <key>key</key> 			
            <string>volumeLimitValue</string>
            <key>validTitles</key> 
            <array>
            	<string>0.1</string>
            	<string>0.3</string>
                <string>0.5</string>
                <string>0.7</string>
            </array>
            <key>validValues</key> 
            <array>
				<string>0.1</string>
            	<string>0.3</string>
                <string>0.5</string>
                <string>0.7</string>
            </array>
            <key>PostNotification</key> 
            <string>ws.hbang.plugication/preferenceschanged</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email HASHBANG Productions</string>
			<key>action</key>
			<string>emailHashbangSupport</string>
			<key>icon</key>
			<string>Email.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open HASHBANG Support FAQ</string>
			<key>action</key>
			<string>openHashbangSupportFAQ</string>
			<key>icon</key>
			<string>Support.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>HASHBANG productions - @hbangws</string>
			<key>icon</key>
			<string>hbang</string>
			<key>action</key>
			<string>openHashbangTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Ben Rosen - @benr9500</string>
			<key>icon</key>
			<string>ben</string>
			<key>action</key>
			<string>openBenTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Adam Damasi (Kirb) - @hbkirb</string>
			<key>icon</key>
			<string>kirb</string>
			<key>action</key>
			<string>openKirbTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Plugication</string>
</dict>
</plist>
