<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Note.png</string>
			<key>key</key>
			<string>Connect</string>
			<key>label</key>
			<string>Play on Connect</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Power.png</string>
			<key>key</key>
			<string>Disconnect</string>
			<key>label</key>
			<string>Pause on Disconnect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Devices</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Headphones.png</string>
			<key>key</key>
			<string>Headphones</string>
			<key>label</key>
			<string>Headphones</string>
		</dict>
		<dict>
			<!--key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/-->
			<key>cell</key>
			<string>PSTextCell</string>
			<key>default</key>
			<string>Coming Soon!</string>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Bluetooth.png</string>
			<key>key</key>
			<string>Bluetooth</string>
			<key>label</key>
			<string>Bluetooth</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>default</key>
			<string>Coming Soon!</string>
			<key>icon</key>
			<string>Dock.png</string>
			<key>key</key>
			<string>Dock</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Maximum Volume Level</string>
			<key>footerText</key>
			<string>If the volume level is louder than the above setting, it will be turned down.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>key</key>
			<string>Limit</string>
			<key>label</key>
			<string>Maximum Volume Level</string>
			<key>leftImage</key>
			<string>Low.png</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0</real>
			<key>rightImage</key>
			<string>High.png</string>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Application</string>
		</dict>
		<!--dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Default App</string>
			<key>icon</key>
			<string>Default.png</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>footer-title</key>
					<string>Select an app to use if no other music apps are open.
Apps that don't play music in the background are not compatible with Plugication.</string>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(bundleIdentifier = "com.apple.Music") or (bundleIdentifier = "com.apple.mobileipod") or (bundleIdentifier = "com.apple.youtube") or (bundleIdentifier = "com.spotify.client") or (bundleIdentifier = "com.pandora")</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>Popular Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = TRUE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKey</key>
			<string>Default</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.plugication.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.Music</string>
		</dict-->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklist</string>
			<key>icon</key>
			<string>Blacklist.png</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>footer-title</key>
					<string>Use the blacklist to disable Plugication from playing music in specific apps.</string>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = TRUE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE)</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>Blacklist-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ws.hbang.plugication.plist</string>
		</dict>
		<!--dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Controls</string>
			<key>footerText</key>
			<string>The above options currently only work for the iOS Music app.
Controls for other apps coming soon!</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Repeat.png</string>
			<key>key</key>
			<string>Repeat</string>
			<key>label</key>
			<string>Enable Repeat</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>ws.hbang.plugication/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.plugication</string>
			<key>icon</key>
			<string>Shuffle.png</string>
			<key>key</key>
			<string>Shuffle</string>
			<key>label</key>
			<string>Enable Shuffle</string>
		</dict-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Plugication 1.2</string>
			<key>footerAlignment</key>
			<integer>0</integer>
			<key>footerLabel</key>
			<string>By Ad@m</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>adtwitter:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>adglyphish:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>Glyphish.png</string>
			<key>label</key>
			<string>Icons by Glyphish</string>
		</dict>
	</array>
	<key>title</key>
	<string>Plugication</string>
</dict>
</plist>
